.idea/
.idea/libraries
.idea/workspace.xml
pubspec.lock
Podfile.lock
.gradle
flutter/.gradle
newrelic_mobile.iml
analysis_options.yaml

.dart_tool/
.packages
android/gradle/
android/gradlew
android/gradlew.bat
build/
coverage/
.DS_Store